@model Contacto.ModelBD.tb_medioContacto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_medioContacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instagram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instagram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_usuario.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idmedioContacto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
