@model IEnumerable<Contacto.ModelBD.tb_medioContacto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.facebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instagram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_usuario.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.facebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instagram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_usuario.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idmedioContacto }) |
            @Html.ActionLink("Details", "Details", new { id=item.idmedioContacto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idmedioContacto })
        </td>
    </tr>
}

</table>
